---
import {getEntry, render} from "astro:content"
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
import Prose from '@/components/Prose.astro';
import {formatDate} from "@/utils.ts";
import Tags from "@/components/Tags.astro"
const {slug} = Astro.params;
if (slug === undefined) throw new Error("id is undefined");
const post = await getEntry("blogs", slug);
if (!post) return Astro.rewrite("/posts");
const {Content, headings, remarkPluginFrontmatter} = await render(post);

const { cover, title, desc, author, pubDate, tags } = post.data;
---
<Layout title={title} og={{
  ogType: "article",
  author: author,
  pubDate: pubDate.toDateString(),
  image: cover.src,
  description: desc,
  
}}>
<article class="max-w-3xl container mx-auto py-3">
  <Header post={post}/>
    <p class="text-gray-500 text-sm mb-4 mt-2">Published on {formatDate(pubDate)} by {author}</p>
    <Tags tags={tags} class=" pb-8 " isCard={true} />
  <div class=" mx-4">
    <Prose>
      <Content   />
      <Prose>
  </div>
</article>
</Layout>
