---
import { ClientRouter } from 'astro:transitions';
import {Site_title, Site_description, Author, Site_ogImage} from '@/consts.ts';
import SeeMoreBtn from "@/components/SeeMoreBtn.astro";
import "@/styles/global.css"
const {title = "articles, Tech, Dev and more", og = {}} = Astro.props;
const currentLocale = Astro.currentLocale;
const dir = currentLocale === "ar" ? "rtl" : "ltr";
interface OgData {
  ogType?: 'website' | 'article' | 'profile' | 'video.other';
  author?: string;
  image?: string;
  pubDate?: string;          
  description?: string;
}
interface Props {
  title?: string;
  og?: OgData;               
}
const {
  ogType     = 'website',
  author   = Author,
  image    = Site_ogImage,
  description = Site_description,
  pubDate  
} = (og ?? {}) as OgData;
const canonical = `${Astro.url.origin}${Astro.url.pathname}`;
---
<!doctype html>
<html lang={currentLocale} dir="ltr">
	<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title ? `${title} | ${Site_title}` : Site_title}</title>
    <meta name="description" content={Site_description} />
    <meta name="author" content={Author} />
    <meta name="robots" content="index, follow, max-image-preview:large" />
    <meta property="og:type"        content={ogType} />
    <meta property="og:title"       content={title ?? Site_title} />
    <meta property="og:description" content={description ?? Site_description} />
    <meta property="og:url"         content={canonical} />
    <meta property="og:site_name"   content={Site_title} />
    <meta property="og:image"       content={image} />
    <meta property="article:author" content={author} />
    <meta property="article:published_time" content={pubDate} />
    <!-- <meta property="og:locale"      content={currentLocale} /> -->
    <meta property="og:image:width"  content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:card"        content="d7man blog " />
    <meta name="twitter:site"        content="@x0d7x" />
    <meta name="twitter:title"       content={title ?? Site_title} />
    <meta name="twitter:description" content={description ?? Site_description} />
    <meta name="twitter:image"       content={`${Astro.url.origin}${image}`} />
    <link rel="canonical"     href={canonical} />
    <link rel="icon"    href="/favicon.svg" sizes="any" type="image/svg+xml" />
     {ogType === 'article' && (
      <>
        <meta property="article:author"          content={author} />
        {pubDate && (
          <meta property="article:published_time" content={pubDate} />
        )}
      </>
    )}
<script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "{Author}",
        "url": "{Astro.url.origin}",
        "sameAs": [
          "https://twitter.com/x0d7x",
          "https://github.com/x0d7x",
          "https://www.youtube.com/@x0d7x",
          "https://www.tiktok.com/@x0d7x",
        ],
        ]
      }
    </script>
  <ClientRouter/>
	</head>
	<body class="bg-black w-full h-full p-2 scroll-smooth">
      <slot />
      <SeeMoreBtn />
	</body>
</html>

